/* CSS Document */

/* Setup: Repeated code per rollover */
<!--
#swap01 {
	background-image:  url(../Images/TN/ML1tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap02 {
	background-image:  url(../Images/TN/ML2tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap03 {
	background-image:  url(../Images/TN/ML3tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap04 {
	background-image:  url(../Images/TN/ML4tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap05 {
	background-image:  url(../Images/TN/ML5tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap06 {
	background-image:  url(../Images/TN/ML6tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap07 {
	background-image:  url(../Images/TN/ML7tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap08 {
	background-image:  url(../Images/TN/ML8tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap09 {
	background-image:  url(../Images/TN/ML9tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap10 {
	background-image:  url(../Images/TN/ML10tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap11 {
	background-image:  url(../Images/TN/ML11tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap12 {
	background-image:  url(../Images/TN/ML12tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap13 {
	background-image:  url(../Images/TN/ML13tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}
#swap14 {
	background-image:  url(../Images/TN/ML14tnb.jpg);    /* rollover state */
	width: 34px;                    /* image width */
	height: 34px;                   /* image height */
}


/* Application: Common Code */
.rollover { display: block; float: left; margin: 37px 0 0px 9px;} /* Allow setting widths and heights */
.rollover img { border: 0; } /* only set width and height once */
.rollover:hover { visibility: visible; /* for IE */ } /* sets any property for the :hover state */
.rollover:hover img { visibility: hidden; } /* 'rolls over' the image */

html, body {
    font: 11px/14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #f1be35;

}
img {border: none;}
a {text-decoration: none;}
table {
	border-width: 0 1px 1px;
	border-style: none solid solid;
	border-color: #000000;
	width: 800px;
	height: 588px;
	margin: 0px auto;
	background-color: #f1be35;
	text-align: center;
	}
td {padding: 0;}
#TopBar {
	font-size: 8px;
	letter-spacing: 0.4em;
	vertical-align: bottom;
	background-color: #000000;
	position: relative;
	height: 25px;
	color: #ed9704;
	padding: 0 5px 0 26px;
}
#TopBar a {color: #ed9704;}
#TopBarTitle {float: left;}
#TopBarPU {float: right; margin: 6px 0 0 0;}
#ChoiceBar {
	background-color: #9B730B;
	height: 78px;
} 
#ChoiceBarWords  {float: left; background-color: #705B85; color: #ffffff; font-size: 9px;
    margin: 37px 0px 0 0; padding: 24px 3px 3px 3px; letter-spacing: .25em;
}
#ChoiceBar a {color: #f0d53f;}

#content {
	background: url(../Images/MLbackground.jpg) top left no-repeat;
	font: 9px/14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 492px;
	text-align: left;
	letter-spacing: .12em;
	color: #71560f;
}

#contentgroups {float: left;}
#contentplaced {margin: 30px 0 0 80px;}
.firstletter {font-size: 24px;}
#content .pictureleft {float: left; margin: 0 20px 5px 0px;}
#content p {margin: 0 40px 10px 20px;}
#content .pictureinfo {font-weight: bold;}
#contentplaced a {color: #705B85;}
#navigation {position: absolute; top: 582px; left: 48%;}
#navigation1 {position: absolute; top: 582px; left: 50%;}
#otherexhibits {
	position: absolute; top: 579px; left: 50%;
	margin: 0 0 0 70px; 
	font-size: 9px; letter-spacing: .2em; color: #FDDF94;
	white-space: nowrap;
}
a.wblink {color: #FDDF94;}
a.wblink:hover {color: #5AA29E;}
a.cclink {color: #FDDF94;}
a.cclink:hover {color: #758CA6;}
a.bplink {color: #FDDF94;}
a.bplink:hover {color: #E88138;}
/*  The rest are for the index page only.    */
#contentindex {
	background: url(../Images/MLbackground.jpg) top left no-repeat;
	height: 492px;
	margin-left: auto; margin-right: auto;
}

#contentindex p {text-align: left;}
#contentindexcenter a {color: #705B85;}
.contentindexlower {margin: 0px 0 0 -180px;}
#contentindexcenter {
	margin: 0px auto 0 auto;
	letter-spacing: .085em;
	font: 11px/24px Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 550px;
	color: #71560f;}
.contentcopyrighttitle {letter-spacing: .25em; font-size: 10px;}
#contentcopyright {
	text-align: left;
	margin: 30px auto 0 auto;
	letter-spacing: .085em;
	font: 11px/24px Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 450px;
	color: #71560f;
	line-height: 20px;
}
#contentcopyright li {list-style: square; margin-bottom: 13px;}
-->