/* CSS Document */
body {
	height: 100%;
	background-color: #033469;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	letter-spacing: 0.2em;
}
a {color: #c8d5e4; text-decoration: none;}
div {text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
}
img {margin-bottom: 5px;}
